.sq {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
  position: relative;
}

.sq:nth-child(2n+1) {
  background-color: #145374;
}

.sq.selected:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(58, 213, 252, 0.5);
  box-shadow: 0 0 5px 10px rgba(58, 213, 252, 0.5);
  border-radius: 50%;
  z-index: 0;
}